.head-section {
    .centrar-img {
        iframe {
            //margin-top: 90px;
            height: 600px;
            width: 100%;
        }
    }
}

.contacto {
    padding: 80px 0;
    background-color: #ffffff;

    .titulo-seccion {
        font-weight: 500;
        font-size: 27px;
        line-height: 37px;
        text-align: left;
        color: $primario;
        margin-bottom: 1rem;
    }

    p {
        font-weight: 300;
        font-size: 15px;
        line-height: 23px;
        color: $primario;
    }
}
section:nth-child(2).contacto{
    padding-top: 160px;
}


@media (max-width: 576px) {
    .contacto {
        .titulo-seccion {
            font-size: 24px;
        }
        .formulario {
            order: 2;
        }
    }
}

@media (max-width: 480px) {
    .head-section {
        .centrar-img {
            iframe {
                //margin-top: 70px;
                height: 300px;
            }
        }
    }
    .contacto {
        .titulo-seccion {
            font-size: 18px;
        }
    }
}