footer {
    min-height: 500px;
    background-color: $secundario;
    padding-top: 4rem;

    .nav-footer {
        list-style: none;
        padding-inline-start: 0;

        li {
            margin-bottom: 20px;

           a {
            font-weight: 500;
            font-size: 15px;
            line-height: 27px;
            text-align: left;
            color: $primario;

                &:hover {
                    text-decoration: none;
                }
           }
        }
    }

    .contact-footer {
        h3{
            font-weight: 500;
            font-size: 15px;
            line-height: 23px;
            color: $primario;
            margin-bottom: 30px;
        }
        p {
            font-size: 15px;
            color: $primario;
            font-weight: 300;
            margin-bottom: 30px;
        }

        a.redes {            
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-right: 10px;
            img{
                height: 100%;
            }   
            &:hover {
                text-decoration: none;
            }
        }
    }
}
