body {
    font-family: $font-family-sans-serif;
}

.centrar-img{
    overflow: hidden;
    position: relative;
    
    img {
        position: absolute;
        left: -5000px;
        right: -5000px;
        top: -5000px;
        bottom: -5000px;
        margin: auto;
    }
}
/* SLIDER HOME */
.slide-home {
    padding-top:90px;

    .centrar-img {
        width: 100%;
        height: 600px;
        //max-height: 600px;

        img {
            width: auto;
            height: 100%;
            //height: 600px;
        }
    }
    .carousel-indicators {
        z-index: 1;
    }
    .carousel-control-prev ,
    .carousel-control-next {
        width: 4%;
    }
    .caption {
        text-align: inherit;
        position: absolute;
        display: flex;
        align-items: center;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        color: $terceario;

        &:first-child {
            align-items: flex-end;
        }

        .carousel-indicators {
            left: 0;
            right: auto;
            margin: auto 15px;
            bottom: 80px;

            .active {
                width: 7.77px;
                height: 7.77px;
                background: $terceario;;
                border-radius: 50%;
                //border-top: 0px;
                border: 1px solid transparent;
            }

            li {
                width: 7.77px;
                height: 7.77px;
                background: transparent;
                border: 1px solid $terceario;
                border-radius: 50%;
                margin: auto 7px;
            }
        }

        h1 {
            font-weight: 500;
            font-size: 27px;
            line-height: 37px;
            text-align: left;
            z-index: 1;
        }

        p {
            margin-top: 30px;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
            text-align: left;
            z-index: 1;
        }

        button {
            margin-top: 15px;
            font-weight: 600;
            font-size: 13px;
            line-height: 14px;
            text-align: center;
            min-width: 160px;
            height: 45px;
            border-radius: 4px;
            text-transform: uppercase;
            background: transparent;
            border: 1px solid $terceario;
            color: $terceario;
            z-index: 1;
        }
    }
}

/* SECCIÓN SERVICIOS */
.servicios {
    padding: 80px 0;
    background-color: $secundario;
    
    .modulo-servicio {
        margin:  30px auto;
        a:hover{
            text-decoration: none;
        }
        img {
            margin-bottom: 15px;
        }

        h1 {
            font-weight: 500;
            font-size: 18px;
            text-align: left;
            color: $primario;
        }
        p {
            font-weight: 300;
            font-size: 15px;
            line-height: 23px;
            text-align: left;
            color: $primario;
        }
    }
}

/* SECCIÓN NOVEDADES */
.novedades {
    padding: 80px 0;
    background-color: $terceario;

    .titulo-seccion {
        font-weight: 500;
        font-size: 27px;
        line-height: 37px;
        text-align: left;
        color: $primario;
        margin-bottom: 1rem;       
    }

    .carousel-control-prev {
        top: -40px;
        bottom: auto;
        left: auto;
        right: 40px;
        width: 4%;
    }
    .carousel-control-next {
        top: -40px;
        bottom: auto;
        right: 0;
        left: auto;
        width: 4%;
    }
    .carousel-control-prev-icon {
        background: url('../images/iconos/right.png') no-repeat !important;
        width: 25px;
        height: 25px;
    }
    .carousel-control-next-icon {
        background: url('../images/iconos/left.png') no-repeat !important;
        width: 25px;
        height: 25px;
    }
    .item-responsive {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modulo-novedad {
        max-width: 350px;

        .centrar-img {
            width: 100%;
            height: 200px;
            max-width: 350px;

            img {
                height: auto;
                width: 100%;
            }
        }
        h1 {
            margin: 30px 0 20px;
            font-weight: 500;
            font-size: 18px;
            text-align: left;
            color: $primario;
            max-height: 60px;
            overflow: hidden;
        }
        p {
            font-weight: 300;
            font-size: 15px;
            line-height: 23px;
            text-align: left;
            color: $primario;
            max-height: 120px;
            overflow: hidden;   
        }
    }
    a:hover{
        text-decoration: none;
    }
    .btn-novedad {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        width: 190px;
        height: 45px;
        text-transform: uppercase;
        border-radius: 4px;
        background: transparent;
        border: 1px solid $primario;
        font-weight: 600;
        font-size: 13px;
        line-height: 30px;
        text-align: center;
        color: $primario;       
    }
}

/* SECCIÓN CALL TO ACTION */
.call-to-action {
    .centrar-img {
        height: 341px;
        width: 100%;

        img {
            width: auto;
            height: auto;
        }
    }
    .contenedor-action {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        height: 341px;

        .info-call {
            text-align: center;
            color: $terceario;
            max-width: 540px;

            h1 {
                font-weight: 500;
                font-size: 27px;
                line-height: 37px;
                text-align: center;
            }
            p {
                font-weight: 300;
                font-size: 15px;
                line-height: 23px;
                text-align: center;
                margin: 20px 0;
                max-height: 70px;
                overflow: hidden;
            }

            button {
                min-width: 160px;
                height: 45px;
                border-radius: 4px;
                background: transparent;
                border: 1px solid $terceario;
                font-weight: 600;
                font-size: 13px;
                line-height: 14px;
                text-align: center;
                color: $terceario;
                text-transform: uppercase;
            }
        }
    }
}

/* SECCIÓN MARCAS */
.marcas {
    padding: 80px 0;
    background-color: $terceario;

    .titulo-seccion {
        font-weight: 500;
        font-size: 27px;
        line-height: 37px;
        text-align: left;
        color: $primario;
        margin-bottom: 2rem;
        text-align: center;
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 1%;
    }
    .carousel-control-prev-icon {
        background: url('../images/iconos/right.png') no-repeat !important;
        width: 25px;
        height: 25px;
    }
    .carousel-control-next-icon {
        background: url('../images/iconos/left.png') no-repeat !important;
        width: 25px;
        height: 25px;
    }
    .carousel-item{        
        &.active, 
        &.carousel-item-next, 
        &.carousel-item-prev{
            display: flex;
            justify-content: center;
        }
        .item-responsive {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .centrar-img {
        width: 100%;
        //max-width: 160px;
        height: 80px;

        img {
            height: 100%;
            width: auto;
        }
    }
}

/* SECCIÓN GALERIA */

.cards {
    padding: 50px 0 80px 0;
    background-color: $terceario;

    .titulo-seccion {
        font-weight: 500;
        font-size: 27px;
        line-height: 37px;
        text-align: left;
        color: $primario;
        margin-bottom: 1rem;
    }

    .modulo-galeria {
        margin-top: 3rem;

        .centrar-img {
            width: auto;
            height: 325px;

            img {
                width: 100%;
                height: auto;
            }
        }
        h1 {
            margin: 20px 0 25px;
            font-weight: 500;
            font-size: 18px;
            text-align: left;
            color: $primario;
            max-height: 60px;
            overflow: hidden;
        }
        p {
            font-weight: 300;
            font-size: 15px;
            line-height: 23px;
            text-align: left;
            color: $primario;
            max-height: 120px;
            overflow: hidden;
        }
    }
}

.titulo-buscador {
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    color: $primario;
    text-transform: uppercase;
    padding-right: 30px;
    margin-bottom: 0;
    margin-top: 5px;
}

.cont-buscador{
    position: relative;
    &::after{
        font-family: $iconos;
        content: "\1f5a3";
        color: $primario; 
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 7px; 
        pointer-events: none;      
    }
}

.buscador {
    width: 210px;
    height: 40px;
    background: transparent;
    border: 1px solid $primario;
    color: $primario;
    padding: 0 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;    
    font-size: 13px;  
    option{
        background-color: $secundario;
    }

    &:focus {
        outline: 0px;
    }
}

/* SECCIÓN VIDEO */
.video {
    padding: 50px 0 80px 0;
    background-color: $terceario;

    .titulo-seccion {
        font-weight: 500;
        font-size: 27px;
        line-height: 37px;
        text-align: left;
        color: $primario;
        margin-bottom: 1rem;
    }

    iframe {
        min-height: 500px;
    }
}

@media (max-width: 1024px) {
    .novedades {
        .modulo-novedad {
            .centrar-img {
                max-width: 290px;
                height: 166px;
            }
        }
    }
    .marcas {
        .centrar-img {
            //max-width: 130px;
            height: 65px;
        }
    }
}

@media (max-width: 768px) {
    .slide-home {
        .centrar-img{
            height: 400px;
        }
        .caption { 
            p {                
                margin-top: 15px;
            }
            button {                
                margin-top: 10px;
            }
        }
    }
    .novedades {
        .modulo-novedad {
            max-width: 330px;

            .centrar-img {
                max-width: 330px;
                height: 189px;
            }
        }
    }
    .call-to-action {
        .contenedor-action {
            .info-call {
                max-width: 511px;
            }
        }
    }
    .marcas {
        .carousel-control-prev,
        .carousel-control-next {
            width: 2%;
        }
        .centrar-img {
            //max-width: 90px;
            height: 100px;
        }
    }
    .cards {
        .modulo-galeria {
            .centrar-img {
                height: 190px;
            }
        }
    }

    .video {
        iframe {
            min-height: 310px;
        }
    }
}

@media (max-width: 576px) {
    .slide-home {
        .caption {
            h1 {
                font-size: 24px;
                line-height: 28px;
            }

            p {
                font-size: 15px;
                line-height: 20px;
                margin-top: 15px;
            }
        }
    }
    .servicios {
        padding: 60px 0;
        .modulo-servicio {
            margin:  15px auto;
            display: flex;
            align-items: center;
            h1 {
                width: 300px;
                //padding-inline-start: 15px;
            }
            p{
                margin-left: 15px;
            }
            img {
                display: none;
                /*width: 15px;
                height: auto;*/
            }
        }
    }
    .novedades {
        .carousel-control-next {
            bottom: .3rem;
            top: auto;
        } 
        .carousel-control-prev {
            bottom: .3rem;
            top: auto;
            right: auto;
        }
        .titulo-seccion {
            font-size: 24px;
        }
        .modulo-novedad {
            max-width: 240px;
            .centrar-img {
                max-width: 240px;
                height: 137px;
            }
            h1 {
                font-size: 16px;
            }
        }
    }
    .video {
        iframe {
            min-height: 230px;
        }
    }
}

@media (max-width: 480px) {
    .navbar {
        height: 70px;
    }
    .menu-md {
        padding-top: 70px;
    }
    .slide-home {
        padding-top:70px;

        .carousel-control-prev, 
        .carousel-control-next {
            top: auto;
            margin: 0 15px 25px;
        }
        .caption {
            .carousel-indicators {
                left: 0;
                right: 0;
                margin: 0 15px 30px;
                bottom: 0;
            }
            h1 {
                font-size: 18px;
            }
            p {
                font-size: 13px;
                line-height: 18px;
            }
            button {
                width: 152px;
                font-size: 12px;
                font-weight: 500;
                margin-top: 10px;
            }
        }
        .centrar-img {
            width: 100%;
            height: 300px;
            //max-height: 498px;
    
            img {
                width: auto;
                height: 100%;
            }
        }
    }
    .servicios {
        .modulo-servicio {
            display: block;
            
            img {
                margin-bottom: 0px;
            }
            h1 {
                font-size: 13px;
                display: inline;
            }
            p {
                font-size: 13px;
                margin-top: .7rem;
                margin-left: 0;
            }
        }
        
    }
    .novedades {
        .titulo-seccion {
            font-size: 18px;            
        }
        .modulo-novedad {
            max-width: 100%;

            h1, 
            p{
                font-size: 13px;
            }

            .centrar-img {
                max-width: 480px;
                height: 166px;
            }
        }
        .btn-novedad {
            width: 160px;
            height: 45px;
            font-weight: 500;
            margin-top: 30px;
            font-size: 12px;
            line-height: 14px;
        }
    }

    .call-to-action {
        .titulo-seccion {
            font-size: 18px;
        }
        .centrar-img {
            height: 247px;
        }
        .contenedor-action {
            height: 247px;

            .info-call {
                h1 {
                    font-size: 18px;
                }
                p {
                    font-size: 13px;
                }
                button {
                    width: 152px;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }

    .marcas {
        padding: 60px 0 40px;
        .titulo-seccion {
            font-size: 18px;
        }
    }

    .cards {
        padding: 0 0 40px 0;

        .titulo-seccion {
            font-size: 18px;
        }

        .modulo-galeria {
            margin-top: 1rem;
            display: flex;

            .centrar-img {
                height: 100px;
                width: 40%;
            }

            h1 {
                width: 60%;
                padding-left: 1rem;
                font-size: 13px;
                max-height: 80px;
                margin: 10px 0;
            }
        }
    }

    .titulo-buscador {
        line-height: 18px;
        font-size: 13px;
    }
    
    .video {
        .titulo-seccion {
            font-size: 18px;
        }
        iframe {
            min-height: 200px;
        }
    }
}
