.navbar {
    position: fixed!important;
    width: 100%;
    z-index: 99;
    padding:0px!important;
    background-color: $terceario;
    font-size: 15px;
    padding: 20px 0 0;
    -webkit-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    transition: background-color .3s linear;
    height: 90px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);

    .navbar-brand{
        height: 90px;
        overflow: hidden;
        img{
            height: 90%;
        }
    }
  
    .nav-link {
        margin: 0rem 1rem;
        padding: 0px
        ;padding-right: 0px!important;
        padding-left: 0px!important;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0px;
    }
    .nav-item {
        a {
            color: $primario;
            border-bottom:2px solid transparent;
            &.active{
                font-weight: 600;
            }
        }
    }
    .navbar-toggler{
        outline: transparent;
        
        .hamburguesa{
            cursor: pointer;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease-in-out;

            &:hover{
                transform: scale(1.1);
            }
        
            .linea{
                margin-top: 4px;
                width: 18px;
                height: 2px;
                border-radius: 10px;
                background: $primario;
                transition: all 0.3s ease-in-out;
            }
        
            #linea1{
                margin: 0 !important;
            }
        
            .desaparecer{
                transition: all 0.3s ease-in-out;
                opacity: 0;
            }
        
            .rotar1{
                transition: all 0.3s ease-in-out;
                transform: rotate(45deg);
                margin-top: 8px !important;
            }
        
            .rotar2{
                transition: all 0.3s ease-in-out;
                transform: rotate(-45deg);
                margin-top: -8px !important;
            }
        }
    }
}

#menu-md {
    display: none;
}

.menu-idiomas{
    margin-right: 10px;
    a.dropdown-toggle{
        font-size: 11px;
        line-height: 11px;
        color: $primario;
        font-weight: 500;
        padding: 6px 14px 6px 6px;
        &:focus{
            box-shadow: none;
            outline: none;
        }
        &::after {
            font-family: "icomoon" !important;
            content: "\1F5A3";
            color: #014E66;
            position: absolute;
            top: 7px;
            right: 0px;
            font-size: 6px;
            pointer-events: none;
            border: none;
        }
    }
    .dropdown-menu{
        min-width: 47px;
        padding: 0;
        margin: 0;
        font-size: 9px;
        line-height: 11px;
        color: $primario;
        font-weight: 500;
        background-color: $terceario;
        border: none;
        .dropdown-item{
            width: auto;
            padding: 6px;
            opacity: 0.5;
            font-size: 11px;
            line-height: 11px;
            color: $primario;
            font-weight: 500;
            border-top: 1px solid $primario;
            background-color: transparent;
            &:hover{
                opacity: 1;
                background-color: transparent;
            }
        }
    }
}

@media (min-width:991px){
    .menu-idiomas{
        order: 2;
        margin-left: 10px;
        margin-right: 0;
    }
}


@media (max-width:991px){
    #menu-md {
        top:90px;
        position: absolute;
        width: 100%;
        background: $terceario;
        z-index: -1;
        width: 100%;
        color: $primario;
        padding: 2rem 2rem 0 1rem;

        .navbar-nav {
            height: 100vh;
            width: 100%;
            display: flex;
            padding: 0 15px;
            position: relative;
            top: 10rem;

        .nav-item:last-child {
            border-bottom:1px solid $primario;
        }

            .nav-item {
                height: 50px;
                border-top:1px solid $primario;
                width: 100%;

                .nav-link {
                    justify-content: space-between;
                    margin: 0px;
                    height: 50px;
                    font-weight: 500;
                    text-transform: initial;
                    &.active{
                        font-weight: 600;
                    }
                }  
            }
        }
    }
}


@media (max-width: 480px){
    #menu-md {
        top:70px;
    }
    .navbar {
        .navbar-brand {
            padding:  0 15px;
            margin: 0px;
            height: 70px;
            display: flex;
            align-items: center;
            img{
                height: 60%;
            }
        }
    }
}

@media (max-width: 420px){
    #menu-md {
        .navbar-nav {
            top: 4rem;
        }
    }
}

