.novedades {
    .modulo-novedad {
        a {
            &:hover,
            :active{
                text-decoration: none;
            }
        }
    }
    nav {
        margin-top: 80px;
        .pagination{
            flex-wrap: wrap;
        }
        .page-item {
            &.arrows {
                padding: 0;
            }           

            .page-link {
                border: 0px;
                color: $primario;
                font-size: 18px;
                font-weight: 500;
                opacity: .7;
                margin: 0 15px;

                span::before{
                    color: $primario; 
                }

                &:hover {
                    z-index: 2;
                    color: $primario;
                    text-decoration: none;
                    background-color: transparent;
                    border-color: none;
                    opacity: 1;
                }
            }

            &.active .page-link{
                background-color: $secundario;
                border-radius: 50px;
                width: 38px;
                text-align: center;
                cursor: auto;
                opacity: 1;
            }
        }
    }
}
section:nth-child(2).novedades{
    padding-top: 160px;
}

/* NOVEDAD AMPLIADA */

.nav-novedad {
    padding: 170px 0 80px 0;

    .callback{ 
        a {
            font-weight: 300;
            font-size: 15px;
            line-height: 23px;
            text-align: left;
            color: $primario;

            &:hover {
                text-decoration: none;
            }
        }
    }

    a.volver{
        span::before{
            color: $primario;                    
        }
        &:hover{
            text-decoration: none;
            span::before{
                color: #666;
            }
        }
    }

    .compartir {
        text-align: end;
        font-weight: 300;
        font-size: 15px;
        line-height: 23px;
        color: $primario;

        a{
            span {
                padding: 0 18px;
                &::before{
                    color: $primario;
                }
            }
            &:last-child span{
                padding-right: 0;
            }
            &:hover{
                text-decoration: none;
                span::before{
                    color: #666;
                }
            }
        }
    }
}

.ampliada {
    .contenedor-novedad {
        margin-bottom: 80px;

        .centrar-img {
            width: 730px;
            height: 418px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .compartir {
            margin: 20px 0;
            font-weight: 300;
            font-size: 15px;
            line-height: 23px;
            color: $primario;
    
            a{
                span {
                    padding: 0 18px;
                    &::before{
                        color: $primario;
                    }
                }
                &:last-child span{
                    padding-right: 0;
                }
                &:hover{
                    text-decoration: none;
                    span::before{
                        color: #666;
                    }
                }
            }
        }

        h1 {
            font-size: 18px;
            font-weight: 500;
            color: $primario;
            margin-top: 40px;
            margin-bottom: 30px;
        }
        p {
            font-size: 15px;
            font-weight: 300;
            color: $primario;
        }
    }
}

@media (max-width: 1024px) {
    .ampliada {
        .contenedor-novedad {
            margin-bottom: 80px;
            
            .centrar-img {
                width: 690px;
                height: 395px;
            }
        }
    }
}

@media (max-width: 768px) {
    .nav-novedad {
        padding: 170px 0 40px 0;        
    }
    .ampliada {
        .contenedor-novedad {
            margin-bottom: 80px;
            
            .centrar-img {
                width: 570px;
                height: 326px;
            }
        }
    }
}

@media (max-width: 576px) {
    .nav-novedad {
        padding: 120px 0 20px 0;
    }
    .ampliada {
        .contenedor-novedad {
            margin-bottom: 80px;
            
            .centrar-img {
                width: 510px;
                height: 292px;
            }
        }
    }
}

@media (max-width: 480px) {
    .ampliada {
        .contenedor-novedad {
            margin-bottom: 80px;
            
            .centrar-img {
                width: auto;
                height: 166px;
            }
        }
    }
}