#paginaError {
    padding: 0;
    margin: 0 auto;
        
    .container-fluid {
        width: 100%;
        height: 100vh;
        background: url("../images/pag-error.jpg") center no-repeat;
        background-size: cover;
        .container{
            height: 100%;
        }
        .wrapper {
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            //align-items: center;
            padding: 0;

            @media (max-width: 992px) {                
                width: 40%;
            }

            @media (max-width: 768px) {
                padding: 0;
                width: 50%;
            }

            @media (max-width: 576px) {
                padding: 20% 0 0 0;
                width: 100%;
            }
            
            h1{
                font-weight: 400;
                font-size: 27px;
                line-height: 37px;
                color: #fff;
                margin-top: 64px;
                margin-bottom: 30px;
            }

            p {
                font-weight: 300;
                font-size: 15px;
                line-height: 23px;
                color: #fff;                
                margin-bottom: 32px;

                @media (max-width: 576px) {
                    margin-top: 0;
                }

                b {
                    font-weight: 800;
                }
            }

            .btn-wrapper {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: flex-start;               

                .btn{
                    min-width: 160px;
                    height: 45px;
                    border-radius: 4px;
                    background: transparent;
                    border: 1px solid #ffffff;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 14px;
                    text-align: center;
                    color: #ffffff;
                    text-transform: uppercase;
                    padding:15px;
                    &:hover{
                        text-decoration: none;
                    }
                }

                .btn-primario_light {
                    display: block;
                }
            }
        }
    }
}
