.pie-agencia{	
	margin-top: 115px;		
	border-top: 1px solid #A8A8A8;
	padding-top: 26px;
    padding-bottom: 36px;
    ul{
        display: flex;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        li{
            list-style: none;
            margin: 0 5px;
            max-width: 19px;
            height: 21px;
            overflow: hidden;
            transition: all 0.75s ease 0s;
            display: flex;
            align-items: center;
            &:hover{
                width: auto;
                max-width: 105px;
            }
            a{
                display: block;
                transition: all 0.75s ease 0s;
            }
        }
    }
    &.blanco{
        border-top: 1px solid #F2F2F2;
        ul li a img{
            filter: invert(100%) sepia(0%) saturate(772%) hue-rotate(339deg) brightness(175%) contrast(105%);
        }
    }
}