/* HEAD DE LA SECCIÓN */
.head-section {
    padding-top: 90px;
    .contenedor-head {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        height: 600px;

        .info-head {
            text-align: center;
            color: $terceario;
            max-width: 540px;
            margin-top: -40px;

            h1 {
                font-size: 27px;
                font-weight: 500;
                color: $primario;
                margin-bottom: 30px;
            }
            
            p {
                font-size: 18px;
                font-weight: 300;
                color: $primario;
            }
        }
    }
    .centrar-img {
        width: 100%;
        height: 600px;
        max-height: 600px;

        img {
            width: auto;
            height: 100%;
        }
    }
}

/* SECCIÓN INSTITUCIONAL */

.institucional {
    background-color: $secundario;
    padding:4rem 0;

    .contenedor-institucional {
        margin: 5rem 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
        &:nth-child(2n+2) {
            div:first-child {
                order: 2;
            }
        }

        h1 {
            font-size: 18px;
            font-weight: 500;
            color: $primario;
            margin-bottom: 30px;
        }
        
        p {
            font-size: 15px;
            font-weight: 300;
            color: $primario;
        }

        .centrar-img {
            width: auto;
            height: 307px;

            img {
                //width: 100%;
                height: 100%;
            }
        }

        .carousel-modulos .carousel-item{
            height: 307px;
        }

        iframe{
            height: 307px;
        }
    }
}

/* SECCIÓN VALORES */ 

.valores {
    background-color: $terceario;
    padding: 4rem 0;

    h1 {
        font-size: 18px;
        font-weight: 500;
        color: $primario;
        margin-bottom: 30px;
    }
    
    p {
        font-size: 15px;
        font-weight: 300;
        color: $primario;
    }
}

/* SECCIÓN GALERIA */

.galeria {
    .titulo-seccion {
        font-weight: 500;
        font-size: 27px;
        line-height: 37px;
        text-align: left;
        color: $primario;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .centrar-img {
        width: auto;
        height: 309px;

        img {
            //width: 100%;
            height: 100%;
        }
    }
}


@media (max-width: 768px) {
    .institucional {
        .contenedor-institucional {
            .centrar-img {
                height: 188px;
            }
            &:nth-child(2n+2) {
                div:first-child {
                    order: 1;
                }
                div.contenedor-info {
                    order: 2;
                }
            }
            .contenedor-info {
                margin-top: 30px;
            }
        }
    }

    .galeria {
        .centrar-img {
            height: 186px;
        }
    }
}

@media (max-width: 576px) {
    .head-section {        
        .centrar-img {
            height: 400px;
        }

        .contenedor-head {
            height: 400px;
            .info-head {
                max-width: 80%;
            }
        }
    }
    .institucional {
        .contenedor-institucional {
            display: block;
            margin: 60px 0;

            .centrar-img {
                max-width: 330px;
            }

            
        }
    }

    .galeria {
        .centrar-img {
            height: 136px;
        }
    }
}

@media (max-width: 480px) {
    .head-section {
        padding-top: 70px;
        .centrar-img {
            height: 300px;
        }

        .contenedor-head {
            height: 300px;

            .info-head {                
                h1 {
                    font-size: 18px;
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }
    .institucional {
        .contenedor-institucional {
            margin: 0px;
            max-width: 330px;

            p {
                font-size: 13px;
            }
            
            .centrar-img {
                max-width: 100%;
            }
        }
    }

    .valores {
        p {
            font-size: 13px;
        }
    }

    .galeria {
        .titulo-seccion {
            font-size: 18px;
        }
    }
}