
/* SECCIÓN SERVICIOS */
.servicios {
    .contenedor-servicios {
        margin-top: 50px;

        h1 {
            font-size: 18px;
            font-weight: 500;
            color: $primario;
            margin-bottom: 30px;
        }
        
        p {
            font-size: 15px;
            font-weight: 300;
            color: $primario;
        }

        .centrar-img {
            width: auto;
            height: 309px;

            img {
                width: 100%;
                //height: 100%;
            }
        }
    }
}

section:nth-child(2).carousel-video,
section:nth-child(2).call-to-action{
    padding-top: 90px;
}
section:nth-child(2).servicios,
section:nth-child(2).valores{
    padding-top: 160px;
}

/* SECCIÓN CAROUSEL VIDEO*/

.carousel-video {
    min-height: 600px;
    
    .titulo-seccion {
        margin-top: 80px;
        font-weight: 500;
        font-size: 27px;
        line-height: 37px;
        text-align: left;
        color: $primario;
        margin-bottom: 40px;
    }

    .carousel {
        width: 100%;

        .carousel-control-prev{
            left: 15px;
            width: auto;

            .carousel-control-prev-icon {
                background-image:none;
                &::before {
                    font-family: $iconos;
                    content: "\1f59a";
                    color: $primario;
                    font-size: 20px;
                }
            }
        }
        
        .carousel-control-next {
            right: 15px;
            width: auto;

            .carousel-control-next-icon {
                background-image:none;
                &::before {
                    font-family: $iconos;
                    content: "\1f59d";
                    color: $primario;
                    font-size: 20px;
                }
            }
        }
        
        iframe {
            min-height: 400px;
        }
        .carousel-indicators {
            margin-bottom: -2rem;

             li {
                width: 7.77px;
                height: 7.77px;
                background: transparent;
                border: 1px solid $primario;
                border-radius: 50%;
                margin: auto 7px;

                &.active {
                    background: $primario;
                }
            }
        }
    }

    .info-video {
        margin: 80px auto;

        h1 {
            font-size: 18px;
            font-weight: 500;
            color: $primario;
            margin-bottom: 30px;
        }
        
        p {
            font-size: 15px;
            font-weight: 300;
            color: $primario;
        }
    }
}

@media (max-width: 1024px) {
    .carousel-video {
        .carousel {
            .carousel-control-next {
                right: 15px;
            }

            .carousel-control-prev {
                left: 15px;
            }
        }
    }
    .servicios {
        .contenedor-servicios {
            .centrar-img {
                height: 260px;
            }
        }
    }
}


@media (max-width: 768px) {
    .carousel-video {
        .carousel {
            .carousel-control-next,
            .carousel-control-prev {
                bottom: -38px;
                top: auto;
            }
        }
    }

    .servicios {
        .contenedor-servicios {
            .centrar-img {
                height: 189px;
            }
        }
    }
}

@media (max-width: 576px) {
    .carousel-video {
        min-height: 480px;
        .carousel {
            iframe {
                min-height: 276px;
            }

            .carousel-control-next,
            .carousel-control-prev {
                margin: 0 15px;
            }
        }

        .info-video {
            h1 {
                margin-top: 1rem;
            }
        }
    }
    
    .servicios {
        .contenedor-servicios {
            h1 {
                font-size: 16px;
            }

            .centrar-img {
                height: 137px;
            }
        }
    }
}

@media (max-width: 480px) {
    .servicios {
        .contenedor-servicios {

            h1{
                margin-top: 30px;
            }

            div:first-child {
                display: flex;
                align-items: center;

                h1 {
                    font-size: 13px;
                    margin-left: 1rem;
                }
            }

            p {
                margin-top: 1rem;
                font-size: 13px;
            }

            .centrar-img {
                height: 166px;
                width: 100%;
            }
        }
    }

    .carousel-video {
        .titulo-seccion {
            font-size: 18px;
            margin-top: 40px;
        }

        .info-video {
            h1,
            p {
                font-size: 13px;
            }
        }
    }
}