/* @import url(https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap);@charset "UTF-8"; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.pie-agencia {
  margin-top: 115px;
  border-top: 1px solid #A8A8A8;
  padding-top: 26px;
  padding-bottom: 36px;
}
.pie-agencia ul {
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  padding: 0;
  -webkit-box-pack: center;
          justify-content: center;
}
.pie-agencia ul li {
  list-style: none;
  margin: 0 5px;
  max-width: 19px;
  height: 21px;
  overflow: hidden;
  -webkit-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.pie-agencia ul li:hover {
  width: auto;
  max-width: 105px;
}
.pie-agencia ul li a {
  display: block;
  -webkit-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
.pie-agencia.blanco {
  border-top: 1px solid #F2F2F2;
}
.pie-agencia.blanco ul li a img {
  -webkit-filter: invert(100%) sepia(0%) saturate(772%) hue-rotate(339deg) brightness(175%) contrast(105%);
          filter: invert(100%) sepia(0%) saturate(772%) hue-rotate(339deg) brightness(175%) contrast(105%);
}

.navbar {
  position: fixed !important;
  width: 100%;
  z-index: 99;
  padding: 0px !important;
  background-color: #ffffff;
  font-size: 15px;
  padding: 20px 0 0;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  height: 90px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand {
  height: 90px;
  overflow: hidden;
}
.navbar .navbar-brand img {
  height: 100%;
}
.navbar .nav-link {
  margin: 0rem 1rem;
  padding: 0px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  text-transform: uppercase;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 0px;
}
.navbar .nav-item a {
  color: #4A4A47;
  border-bottom: 2px solid transparent;
}
.navbar .nav-item a.active {
  font-weight: 600;
}
.navbar .navbar-toggler {
  outline: transparent;
}
.navbar .navbar-toggler .hamburguesa {
  cursor: pointer;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar .navbar-toggler .hamburguesa:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navbar .navbar-toggler .hamburguesa .linea {
  margin-top: 4px;
  width: 18px;
  height: 2px;
  border-radius: 10px;
  background: #4A4A47;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar .navbar-toggler .hamburguesa #linea1 {
  margin: 0 !important;
}
.navbar .navbar-toggler .hamburguesa .desaparecer {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.navbar .navbar-toggler .hamburguesa .rotar1 {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 8px !important;
}
.navbar .navbar-toggler .hamburguesa .rotar2 {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -8px !important;
}

#menu-md {
  display: none;
}

@media (max-width: 991px) {
  #menu-md {
    top: 90px;
    position: absolute;
    width: 100%;
    background: #ffffff;
    z-index: -1;
    width: 100%;
    color: #4A4A47;
    padding: 2rem 2rem 0 1rem;
  }
  #menu-md .navbar-nav {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: flex;
    padding: 0 15px;
    position: relative;
    top: 10rem;
  }
  #menu-md .navbar-nav .nav-item:last-child {
    border-bottom: 1px solid #4A4A47;
  }
  #menu-md .navbar-nav .nav-item {
    height: 50px;
    border-top: 1px solid #4A4A47;
    width: 100%;
  }
  #menu-md .navbar-nav .nav-item .nav-link {
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin: 0px;
    height: 50px;
    font-weight: 400;
    text-transform: initial;
  }
  #menu-md .navbar-nav .nav-item .nav-link.active {
    font-weight: 600;
  }
}
@media (max-width: 480px) {
  #menu-md {
    top: 70px;
  }

  .navbar .navbar-brand {
    padding: 0 15px;
    margin: 0px;
    height: 70px;
  }
}
@media (max-width: 420px) {
  #menu-md .navbar-nav {
    top: 4rem;
  }
}
body {
  font-family: 'Poppins', sans-serif;
}

.centrar-img {
  overflow: hidden;
  position: relative;
}
.centrar-img img {
  position: absolute;
  left: -5000px;
  right: -5000px;
  top: -5000px;
  bottom: -5000px;
  margin: auto;
}

/* SLIDER HOME */
.slide-home {
  padding-top: 90px;
}
.slide-home .centrar-img {
  width: 100%;
  height: 600px;
}
.slide-home .centrar-img img {
  width: auto;
  height: 100%;
}
.slide-home .carousel-indicators {
  z-index: 1;
}
.slide-home .carousel-control-prev,
.slide-home .carousel-control-next {
  width: 4%;
}
.slide-home .caption {
  text-align: inherit;
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  color: #ffffff;
}
.slide-home .caption:first-child {
  -webkit-box-align: end;
          align-items: flex-end;
}
.slide-home .caption .carousel-indicators {
  left: 0;
  right: auto;
  margin: auto 15px;
  bottom: 80px;
}
.slide-home .caption .carousel-indicators .active {
  width: 7.77px;
  height: 7.77px;
  background: #4A4A47;
  border-radius: 50%;
  border: 1px solid transparent;
}
.slide-home .caption .carousel-indicators li {
  width: 7.77px;
  height: 7.77px;
  background: transparent;
  border: 1px solid #4A4A47;
  border-radius: 50%;
  margin: auto 7px;
}
.slide-home .caption h1 {
  font-weight: 600;
  /* font-style: italic; */
  font-size: 27px;
  line-height: 37px;
  text-align: left;
  z-index: 1;
  color: #4A4A47;
}
.slide-home .caption p {
  margin-top: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  z-index: 1;
  color: #4A4A47;
}
.slide-home .caption button {
  margin-top: 15px;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  min-width: 160px;
  height: 45px;
  border-radius: 4px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #4A4A47;
  /* color: #ffffff; */
  color: #4A4A47;
  z-index: 1;
}
.titulo-video{
  color: #4A4A47;
  /* text-align: center; */
  /* porque es viemo */
  font-style: Livvic;
}

/* SECCIÓN SERVICIOS */
.servicios {
  padding: 80px 0;
  background-color: #FBF6F3;
}
.servicios .modulo-servicio {
  margin: 30px auto;
}
.servicios .modulo-servicio a:hover {
  text-decoration: none;
}
.servicios .modulo-servicio img {
  margin-bottom: 15px;
}
.servicios .modulo-servicio h1 {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: #4A4A47;
}
.servicios .modulo-servicio p {
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  text-align: left;
  color: #4A4A47;
}

/* SECCIÓN NOVEDADES */
.novedades {
  padding: 80px 0;
  background-color: #ffffff;
}
.novedades .titulo-seccion {
  font-weight: 600;
  /* font-style: italic; */
  font-size: 27px;
  line-height: 37px;
  text-align: left;
  color: #4A4A47;
  margin-bottom: 1rem;
}
.novedades .carousel-control-prev {
  top: -40px;
  bottom: auto;
  left: auto;
  right: 40px;
  width: 4%;
}
.novedades .carousel-control-next {
  top: -40px;
  bottom: auto;
  right: 0;
  left: auto;
  width: 4%;
}
.novedades .carousel-control-prev-icon {
  background: url("../images/iconos/right.png") no-repeat !important;
  width: 25px;
  height: 25px;
}
.novedades .carousel-control-next-icon {
  background: url("../images/iconos/left.png") no-repeat !important;
  width: 25px;
  height: 25px;
}
.novedades .item-responsive {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.novedades .modulo-novedad {
  max-width: 350px;
}
.novedades .modulo-novedad .centrar-img {
  width: 100%;
  height: 200px;
  max-width: 350px;
}
.novedades .modulo-novedad .centrar-img img {
  height: auto;
  width: 100%;
}
.novedades .modulo-novedad h1 {
  margin: 30px 0 20px;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: #4A4A47;
  max-height: 60px;
  overflow: hidden;
}
.novedades .modulo-novedad p {
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  text-align: left;
  color: #4A4A47;
  max-height: 120px;
  overflow: hidden;
}
.novedades a:hover {
  text-decoration: none;
}
.novedades .btn-novedad {
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 60px;
  width: 190px;
  height: 45px;
  text-transform: uppercase;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #4A4A47;
  font-weight: 600;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  color: #4A4A47;
}


/* SECCIÓN CALL TO ACTION */
.call-to-action .centrar-img {
  height: 341px;
  width: 100%;
}
.call-to-action .centrar-img img {
  width: auto;
  height: auto;
}
.call-to-action .contenedor-action {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 341px;
}
.call-to-action .contenedor-action .info-call {
  text-align: center;
  color: #ffffff;
  max-width: 540px;
}
.call-to-action .contenedor-action .info-call h1 {
  font-weight: 600;
  /* font-style: italic; */
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #0e4194;
}
.call-to-action .contenedor-action .info-call p {
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  margin: 20px 0;
  max-height: 70px;
  overflow: hidden;
  color: #0e4194;
}
.call-to-action .contenedor-action .info-call button {
  min-width: 160px;
  height: 45px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #0e4194;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  /* color: #ffffff; */
  color: #0e4194;
  text-transform: uppercase;
}

/* SECCIÓN MARCAS */
.marcas {
  padding: 80px 0;
  background-color: #ffffff;
}
.marcas .titulo-seccion {
  font-weight: 600;
  /* font-style: italic; */
  font-size: 27px;
  line-height: 37px;
  text-align: left;
  color: #4A4A47;
  margin-bottom: 2rem;
  text-align: center;
}
.marcas .carousel-control-prev,
.marcas .carousel-control-next {
  width: 1%;
}
.marcas .carousel-control-prev-icon {
  background: url("../images/iconos/right.png") no-repeat !important;
  width: 25px;
  height: 25px;
}
.marcas .carousel-control-next-icon {
  background: url("../images/iconos/left.png") no-repeat !important;
  width: 25px;
  height: 25px;
}
.marcas .carousel-item.active, .marcas .carousel-item.carousel-item-next, .marcas .carousel-item.carousel-item-prev {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.marcas .carousel-item .item-responsive {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.marcas .centrar-img {
  width: 100%;
  height: 80px;
}
.marcas .centrar-img img {
  height: 100%;
  width: auto;
}

/* SECCIÓN GALERIA */
.cards {
  padding: 50px 0 80px 0;
  background-color: #ffffff;
}
.cards .titulo-seccion {
  font-weight: 600;
  /* font-style: italic; */
  font-size: 27px;
  line-height: 37px;
  text-align: left;
  color: #4A4A47;
  margin-bottom: 1rem;
}
.cards .modulo-galeria {
  margin-top: 3rem;
}
.cards .modulo-galeria .centrar-img {
  width: auto;
  height: 325px;
}
.cards .modulo-galeria .centrar-img img {
  width: 100%;
  height: auto;
}
.cards .modulo-galeria h1 {
  margin: 20px 0 25px;
  font-weight: 600;
  /* font-style: italic; */
  font-size: 18px;
  text-align: left;
  color: #4A4A47;
  max-height: 60px;
  overflow: hidden;
}
.cards .modulo-galeria p {
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  text-align: left;
  color: #4A4A47;
  max-height: 120px;
  overflow: hidden;
}

.titulo-buscador {
  font-weight: 600;
  /* font-style: italic; */
  font-size: 15px;
  line-height: 27px;
  color: #4A4A47;
  text-transform: uppercase;
  padding-right: 30px;
  margin-bottom: 0;
  margin-top: 5px;
}

.cont-buscador {
  position: relative;
}
.cont-buscador::after {
  font-family: "icomoon" !important;
  content: "\1F5A3";
  color: #4A4A47;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 7px;
  pointer-events: none;
}

.buscador {
  width: 210px;
  height: 40px;
  background: transparent;
  border: 1px solid #4A4A47;
  color: #4A4A47;
  padding: 0 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 13px;
}
.buscador option {
  background-color: #FBF6F3;
}
.buscador:focus {
  outline: 0px;
}

/* SECCIÓN VIDEO */
.video {
  padding: 0 0 80px 0;
  background-color: #ffffff;
}
.video .titulo-seccion {
  font-weight: 600;
  /* font-style: italic; */
  font-size: 27px;
  line-height: 37px;
  text-align: left;
  color: #4A4A47;
  margin-bottom: 1rem;
}
.video iframe {
  min-height: 500px;
  /* aca  */
}

@media (max-width: 1024px) {
  .novedades .modulo-novedad .centrar-img {
    max-width: 290px;
    height: 166px;
  }

  .marcas .centrar-img {
    height: 65px;
  }
}
@media (max-width: 768px) {
  .slide-home .centrar-img {
    height: 400px;
  }
  .slide-home .caption p {
    margin-top: 15px;
  }
  .slide-home .caption button {
    margin-top: 10px;
  }

  .novedades .modulo-novedad {
    max-width: 330px;
  }
  .novedades .modulo-novedad .centrar-img {
    max-width: 330px;
    height: 189px;
  }

  .call-to-action .contenedor-action .info-call {
    max-width: 511px;
  }

  .marcas .carousel-control-prev,
.marcas .carousel-control-next {
    width: 2%;
  }
  .marcas .centrar-img {
    height: 100px;
  }

  .cards .modulo-galeria .centrar-img {
    height: 190px;
  }

  .video iframe {
    min-height: 310px;
  }
}
@media (max-width: 576px) {
  .slide-home .caption h1 {
    font-size: 24px;
    line-height: 28px;
  }
  .slide-home .caption p {
    font-size: 15px;
    line-height: 20px;
    margin-top: 15px;
  }

  .servicios {
    padding: 60px 0;
  }
  .servicios .modulo-servicio {
    margin: 15px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
  .servicios .modulo-servicio h1 {
    min-width: 135px;
  }
  .servicios .modulo-servicio p {
    margin-left: 15px;
  }
  .servicios .modulo-servicio img {
    display: none;
    /*width: 15px;
    height: auto;*/
  }

  .novedades .carousel-control-next {
    bottom: 0.3rem;
    top: auto;
  }
  .novedades .carousel-control-prev {
    bottom: 0.3rem;
    top: auto;
    right: auto;
  }
  .novedades .titulo-seccion {
    font-size: 24px;
  }
  .novedades .modulo-novedad {
    max-width: 240px;
  }
  .novedades .modulo-novedad .centrar-img {
    max-width: 240px;
    height: 137px;
  }
  .novedades .modulo-novedad h1 {
    font-size: 16px;
  }

  .video iframe {
    min-height: 230px;
  }
}
@media (max-width: 480px) {
  .navbar {
    height: 70px;
  }

  .menu-md {
    padding-top: 70px;
  }

  .slide-home {
    padding-top: 70px;
  }
  .slide-home .carousel-control-prev,
.slide-home .carousel-control-next {
    top: auto;
    margin: 0 15px 25px;
  }
  .slide-home .caption .carousel-indicators {
    left: 0;
    right: 0;
    margin: 0 15px 30px;
    bottom: 0;
  }
  .slide-home .caption h1 {
    font-size: 18px;
  }
  .slide-home .caption p {
    font-size: 13px;
    line-height: 18px;
  }
  .slide-home .caption button {
    width: 152px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
  }
  .slide-home .centrar-img {
    width: 100%;
    height: 300px;
  }
  .slide-home .centrar-img img {
    width: auto;
    height: 100%;
  }

  .servicios .modulo-servicio {
    display: block;
  }
  .servicios .modulo-servicio img {
    margin-bottom: 0px;
  }
  .servicios .modulo-servicio h1 {
    font-size: 13px;
    display: inline;
  }
  .servicios .modulo-servicio p {
    font-size: 13px;
    margin-top: 0.7rem;
    margin-left: 0;
  }

  .novedades .titulo-seccion {
    font-size: 18px;
  }
  .novedades .modulo-novedad {
    max-width: 100%;
  }
  .novedades .modulo-novedad h1,
.novedades .modulo-novedad p {
    font-size: 13px;
  }
  .novedades .modulo-novedad .centrar-img {
    max-width: 480px;
    height: 166px;
  }
  .novedades .btn-novedad {
    width: 160px;
    height: 45px;
    font-weight: 500;
    margin-top: 30px;
    font-size: 12px;
    line-height: 14px;
  }

  .call-to-action .titulo-seccion {
    font-size: 18px;
  }
  .call-to-action .centrar-img {
    height: 247px;
  }
  .call-to-action .contenedor-action {
    height: 247px;
  }
  .call-to-action .contenedor-action .info-call h1 {
    font-size: 18px;
  }
  .call-to-action .contenedor-action .info-call p {
    font-size: 13px;
  }
  .call-to-action .contenedor-action .info-call button {
    width: 152px;
    font-size: 12px;
    font-weight: 500;
  }

  .marcas {
    padding: 60px 0 40px;
  }
  .marcas .titulo-seccion {
    font-size: 18px;
  }

  .cards {
    padding: 0 0 40px 0;
  }
  .cards .titulo-seccion {
    font-size: 18px;
  }
  .cards .modulo-galeria {
    margin-top: 1rem;
    display: -webkit-box;
    display: flex;
  }
  .cards .modulo-galeria .centrar-img {
    height: 70px;
    width: 40%;
  }
  .cards .modulo-galeria a {
    display: block;
    width: 60%;
  }
  .cards .modulo-galeria a h1 {
    width: 100%;
    padding-left: 1rem;
    font-size: 13px;
    max-height: 80px;
    margin: 10px 0;
  }

  .titulo-buscador {
    line-height: 18px;
    font-size: 13px;
  }

  .video .titulo-seccion {
    font-size: 18px;
  }
  .video iframe {
    min-height: 200px;
  }
}

/* HEAD DE LA SECCIÓN */
.head-section {
  padding-top: 90px;
}
.head-section .contenedor-head {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 600px;
}
.head-section .contenedor-head .info-head {
  text-align: center;
  color: #ffffff;
  max-width: 540px;
  margin-top: -40px;
}
.head-section .contenedor-head .info-head h1 {
  font-size: 27px;
  font-weight: 600;
  /* font-style: italic; */
  color: #4A4A47;
  margin-bottom: 30px;
}
.head-section .contenedor-head .info-head p {
  font-size: 18px;
  font-weight: 300;
  color: #4A4A47;
}
.head-section .centrar-img {
  width: 100%;
  height: 600px;
  max-height: 600px;
}
.head-section .centrar-img img {
  width: auto;
  height: 100%;
}

/* SECCIÓN INSTITUCIONAL */
.institucional {
  background-color: #FBF6F3;
  padding: 4rem 0;
}
.institucional .contenedor-institucional {
  margin: 5rem 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
}
.institucional .contenedor-institucional:nth-child(2n+2) div:first-child {
  -webkit-box-ordinal-group: 3;
          order: 2;
}
.institucional .contenedor-institucional h1 {
  font-size: 18px;
  font-weight: 400;
  color: #4A4A47;
  margin-bottom: 30px;
}
.institucional .contenedor-institucional p {
  font-size: 15px;
  font-weight: 300;
  color: #4A4A47;
}
.institucional .contenedor-institucional .centrar-img {
  width: auto;
  height: 307px;
}
.institucional .contenedor-institucional .centrar-img img {
  height: 100%;
}
.institucional .contenedor-institucional .carousel-modulos .carousel-item {
  height: 307px;
}
.institucional .contenedor-institucional iframe {
  height: 307px;
}

/* SECCIÓN VALORES */
.valores {
  background-color: #ffffff;
  padding: 4rem 0;
}
.valores h1 {
  font-size: 18px;
  font-weight: 400;
  color: #4A4A47;
  margin-bottom: 30px;
}
.valores p {
  font-size: 15px;
  font-weight: 300;
  color: #4A4A47;
}

/* SECCIÓN GALERIA */
.galeria .titulo-seccion {
  font-weight: 600;
  /* font-style: italic; */
  font-size: 27px;
  line-height: 37px;
  text-align: left;
  color: #4A4A47;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.galeria .centrar-img {
  width: auto;
  height: 309px;
}
.galeria .centrar-img img {
  height: 100%;
}

@media (max-width: 768px) {
  .institucional .contenedor-institucional .centrar-img {
    height: 188px;
  }
  .institucional .contenedor-institucional:nth-child(2n+2) div:first-child {
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .institucional .contenedor-institucional:nth-child(2n+2) div.contenedor-info {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .institucional .contenedor-institucional .contenedor-info {
    margin-top: 30px;
  }

  .galeria .centrar-img {
    height: 186px;
  }
}
@media (max-width: 576px) {
  .head-section .centrar-img {
    height: 400px;
  }
  .head-section .contenedor-head {
    height: 400px;
  }
  .head-section .contenedor-head .info-head {
    max-width: 80%;
  }

  .institucional .contenedor-institucional {
    display: block;
    margin: 60px 0;
  }
  .institucional .contenedor-institucional .centrar-img {
    max-width: 330px;
  }

  .galeria .centrar-img {
    height: 136px;
  }
}
@media (max-width: 480px) {
  .head-section {
    padding-top: 70px;
  }
  .head-section .centrar-img {
    height: 300px;
  }
  .head-section .contenedor-head {
    height: 300px;
  }
  .head-section .contenedor-head .info-head h1 {
    font-size: 18px;
  }
  .head-section .contenedor-head .info-head p {
    font-size: 13px;
  }

  .institucional .contenedor-institucional {
    margin: 0px;
    max-width: 330px;
  }
  .institucional .contenedor-institucional p {
    font-size: 13px;
  }
  .institucional .contenedor-institucional .centrar-img {
    max-width: 100%;
  }

  .valores p {
    font-size: 13px;
  }

  .galeria .titulo-seccion {
    font-size: 18px;
  }
}
/* SECCIÓN SERVICIOS */
.servicios .contenedor-servicios {
  margin-top: 50px;
}
.servicios .contenedor-servicios h1 {
  font-size: 18px;
  font-weight: 400;
  color: #4A4A47;
  margin-bottom: 30px;
}
.servicios .contenedor-servicios p {
  font-size: 15px;
  font-weight: 300;
  color: #4A4A47;
}
.servicios .contenedor-servicios .centrar-img {
  width: auto;
  height: 309px;
}
.servicios .contenedor-servicios .centrar-img img {
  width: 100%;
  height: 100%;
}

section:nth-child(2).carousel-video,
section:nth-child(2).call-to-action {
  padding-top: 90px;
}

section:nth-child(2).servicios,
section:nth-child(2).valores {
  padding-top: 160px;
}

/* SECCIÓN CAROUSEL VIDEO*/
.carousel-video {
  min-height: 600px;
}
.carousel-video .titulo-seccion {
  margin-top: 80px;
  font-weight: 600;
  /* font-style: italic; */
  font-size: 27px;
  line-height: 37px;
  text-align: left;
  color: #4A4A47;
  margin-bottom: 40px;
}
.carousel-video .carousel {
  width: 100%;
}
.carousel-video .carousel .carousel-control-prev {
  left: 15px;
  width: auto;
}
.carousel-video .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: none;
}
.carousel-video .carousel .carousel-control-prev .carousel-control-prev-icon::before {
  font-family: "icomoon" !important;
  content: "\1F59A";
  color: #4A4A47;
  font-size: 20px;
}
.carousel-video .carousel .carousel-control-next {
  right: 15px;
  width: auto;
}
.carousel-video .carousel .carousel-control-next .carousel-control-next-icon {
  background-image: none;
}
.carousel-video .carousel .carousel-control-next .carousel-control-next-icon::before {
  font-family: "icomoon" !important;
  content: "\1F59D";
  color: #4A4A47;
  font-size: 20px;
}
.carousel-video .carousel iframe {
  min-height: 400px;
}
.carousel-video .carousel .carousel-indicators {
  margin-bottom: -2rem;
}
.carousel-video .carousel .carousel-indicators li {
  width: 7.77px;
  height: 7.77px;
  background: transparent;
  border: 1px solid #4A4A47;
  border-radius: 50%;
  margin: auto 7px;
}
.carousel-video .carousel .carousel-indicators li.active {
  background: #4A4A47;
}
.carousel-video .info-video {
  margin: 80px auto;
}
.carousel-video .info-video h3 {
  font-size: 18px;
  font-weight: 600;
  /* font-style: italic; */
  color: #4A4A47;
  margin-bottom: 30px;
}
.carousel-video .info-video p {
  font-size: 15px;
  font-weight: 300;
  color: #4A4A47;
}

@media (max-width: 1024px) {
  .carousel-video .carousel .carousel-control-next {
    right: 15px;
  }
  .carousel-video .carousel .carousel-control-prev {
    left: 15px;
  }

  .servicios .contenedor-servicios .centrar-img {
    height: 260px;
  }
}
@media (max-width: 768px) {
  .carousel-video .carousel .carousel-control-next,
.carousel-video .carousel .carousel-control-prev {
    bottom: -38px;
    top: auto;
  }

  .servicios .contenedor-servicios .centrar-img {
    height: 189px;
  }
}
@media (max-width: 576px) {
  .carousel-video {
    min-height: 480px;
  }
  .carousel-video .carousel iframe {
    min-height: 276px;
  }
  .carousel-video .carousel .carousel-control-next,
.carousel-video .carousel .carousel-control-prev {
    margin: 0 15px;
  }
  .carousel-video .info-video h1 {
    margin-top: 1rem;
  }

  .servicios .contenedor-servicios h1 {
    font-size: 16px;
  }
  .servicios .contenedor-servicios .centrar-img {
    height: 137px;
  }
}
@media (max-width: 480px) {
  .servicios .contenedor-servicios h1 {
    margin-top: 30px;
  }
  .servicios .contenedor-servicios div:first-child {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
  .servicios .contenedor-servicios div:first-child h1 {
    font-size: 13px;
    margin-left: 1rem;
  }
  .servicios .contenedor-servicios p {
    margin-top: 1rem;
    font-size: 13px;
  }
  .servicios .contenedor-servicios .centrar-img {
    height: 166px;
    width: 100%;
  }

  .carousel-video .titulo-seccion {
    font-size: 18px;
    margin-top: 40px;
  }
  .carousel-video .info-video h1,
.carousel-video .info-video p {
    font-size: 13px;
  }
}
.novedades .modulo-novedad a:hover,
.novedades .modulo-novedad a :active {
  text-decoration: none;
}
.novedades nav {
  margin-top: 80px;
}
.novedades nav .pagination {
  flex-wrap: wrap;
}
.novedades nav .page-item.arrows {
  padding: 0;
}
.novedades nav .page-item .page-link {
  border: 0px;
  color: #4A4A47;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.7;
  margin: 0 15px;
}
.novedades nav .page-item .page-link span::before {
  color: #4A4A47;
}
.novedades nav .page-item .page-link:hover {
  z-index: 2;
  color: #4A4A47;
  text-decoration: none;
  background-color: transparent;
  border-color: none;
  opacity: 1;
}
.novedades nav .page-item.active .page-link {
  background-color: #FBF6F3;
  border-radius: 50px;
  width: 38px;
  text-align: center;
  cursor: auto;
  opacity: 1;
}

section:nth-child(2).novedades {
  padding-top: 160px;
}

/* NOVEDAD AMPLIADA */
.nav-novedad {
  padding: 170px 0 80px 0;
}
.nav-novedad .callback a {
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  text-align: left;
  color: #4A4A47;
}
.nav-novedad .callback a:hover {
  text-decoration: none;
}
 .a{
  margin: 20px 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 60px;
  margin-left: 765px;
  text-align: center;
  color: #4A4A47;
  text-decoration: none;
}
.nav-novedad a.volver span::before {
  color: #4A4A47;
}
.nav-novedad a.volver:hover {
  text-decoration: none;
}
.nav-novedad a.volver:hover span::before {
  color: #666;
}
.nav-novedad .compartir {
  text-align: end;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: #4A4A47;
}
.nav-novedad .compartir a span {
  padding: 0 12px;
  /* padding: 0 18px; */
}
.nav-novedad .compartir a span::before {
  color: #4A4A47;
}
.nav-novedad .compartir a:last-child span {
  padding-right: 0;
}
.nav-novedad .compartir a:hover {
  text-decoration: none;
}
.nav-novedad .compartir a:hover span::before {
  color: #666;
}

.nav-novedad .descargar {
  text-align: end;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: #4A4A47;
}
.nav-novedad .descargar a span {
  padding: 0 12px;
  /* padding: 0 18px; */
}
.nav-novedad .descargar a span::before {
  color: #4A4A47;
}
.nav-novedad .descargar a:last-child span {
  padding-right: 0;
}
.nav-novedad .descargar a:hover {
  text-decoration: none;
}
.nav-novedad .descargar a:hover span::before {
  color: #666;
}

.ampliada .contenedor-novedad {
  margin-bottom: 80px;
}
.ampliada .contenedor-novedad .centrar-img {
  width: 730px;
  height: 418px;
}
.ampliada .contenedor-novedad .centrar-img img {
  width: 100%;
  height: auto;
}
.ampliada .contenedor-novedad .compartir {
  margin: 20px 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: #4A4A47;
}
.ampliada .contenedor-novedad .compartir a span {
  padding: 0 18px;
}
.ampliada .contenedor-novedad .compartir a span::before {
  color: #4A4A47;
}
.ampliada .contenedor-novedad .compartir a:last-child span {
  padding-right: 0;
}
.ampliada .contenedor-novedad .compartir a:hover {
  text-decoration: none;
}
.ampliada .contenedor-novedad .compartir a:hover span::before {
  color: #666;
}
.ampliada .contenedor-novedad h1 {
  font-size: 18px;
  font-weight: 400;
  color: #4A4A47;
  margin-top: 40px;
  margin-bottom: 30px;
}
.ampliada .contenedor-novedad p {
  font-size: 15px;
  font-weight: 300;
  color: #4A4A47;
}

@media (max-width: 1024px) {
  .ampliada .contenedor-novedad {
    margin-bottom: 80px;
  }
  .ampliada .contenedor-novedad .centrar-img {
    width: 690px;
    height: 395px;
  }
}
@media (max-width: 768px) {
  .nav-novedad {
    padding: 170px 0 40px 0;
  }

  .ampliada .contenedor-novedad {
    margin-bottom: 80px;
  }
  .ampliada .contenedor-novedad .centrar-img {
    width: 570px;
    height: 326px;
  }
}
@media (max-width: 576px) {
  .nav-novedad {
    padding: 120px 0 20px 0;
  }

  .ampliada .contenedor-novedad {
    margin-bottom: 80px;
  }
  .ampliada .contenedor-novedad .centrar-img {
    width: 510px;
    height: 292px;
  }
}
@media (max-width: 480px) {
  .ampliada .contenedor-novedad {
    margin-bottom: 80px;
  }
  .ampliada .contenedor-novedad .centrar-img {
    width: auto;
    height: 166px;
  }
}
footer {
  min-height: 500px;
  background-color: #FBF6F3;
  padding-top: 4rem;
}
footer .nav-footer {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
footer .nav-footer li {
  margin-bottom: 20px;
}
footer .nav-footer li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: left;
  color: #4A4A47;
}
footer .nav-footer li a:hover {
  text-decoration: none;
}
footer .contact-footer h3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #4A4A47;
  margin-bottom: 30px;
}
footer .contact-footer p {
  font-size: 15px;
  color: #4A4A47;
  font-weight: 300;
  margin-bottom: 30px;
}
footer .contact-footer a.redes {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
footer .contact-footer a.redes img {
  height: 100%;
}
footer .contact-footer a.redes:hover {
  text-decoration: none;
}

.head-section .centrar-img iframe {
  height: 600px;
  width: 100%;
}

.contacto {
  padding: 80px 0;
  background-color: #ffffff;
}
.contacto .titulo-seccion {
  font-weight: 600;
  /* font-style: italic; */
  font-size: 27px;
  line-height: 37px;
  text-align: left;
  color: #4A4A47;
  margin-bottom: 1rem;
}
.contacto p {
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: #4A4A47;
}

section:nth-child(2).contacto {
  padding-top: 160px;
}

@media (max-width: 576px) {
  .contacto .titulo-seccion {
    font-size: 24px;
  }
  .contacto .formulario {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
}
@media (max-width: 480px) {
  .head-section .centrar-img iframe {
    height: 300px;
  }

  .contacto .titulo-seccion {
    font-size: 18px;
  }
}
#paginaError {
  padding: 0;
  margin: 0 auto;
}
#paginaError .container-fluid {
  width: 100%;
  height: 100vh;
  background: url("../images/pag-error.jpg") center no-repeat;
  background-size: cover;
}
#paginaError .container-fluid .container {
  height: 100%;
}
#paginaError .container-fluid .wrapper {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 0;
}
@media (max-width: 992px) {
  #paginaError .container-fluid .wrapper {
    width: 40%;
  }
}
@media (max-width: 768px) {
  #paginaError .container-fluid .wrapper {
    padding: 0;
    width: 50%;
  }
}
@media (max-width: 576px) {
  #paginaError .container-fluid .wrapper {
    padding: 20% 0 0 0;
    width: 100%;
  }
}
#paginaError .container-fluid .wrapper h1 {
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  color: #fff;
  margin-top: 64px;
  margin-bottom: 30px;
}
#paginaError .container-fluid .wrapper p {
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 32px;
}
@media (max-width: 576px) {
  #paginaError .container-fluid .wrapper p {
    margin-top: 0;
  }
}
#paginaError .container-fluid .wrapper p b {
  font-weight: 800;
}
#paginaError .container-fluid .wrapper .btn-wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
}
#paginaError .container-fluid .wrapper .btn-wrapper .btn {
  min-width: 160px;
  height: 45px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #ffffff;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px;
}
#paginaError .container-fluid .wrapper .btn-wrapper .btn:hover {
  text-decoration: none;
}
#paginaError .container-fluid .wrapper .btn-wrapper .btn-primario_light {
  display: block;
}
.fidelitytools-push-btn {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	font-weight: bold; /* Fuente en negrita o bold */
	/* color: #ffffff; /* Color del texto */ */
	border-radius: 100px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	/* background-color: #E91E63; /* Color de fondo */ */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 10px;
	right: 70px;
	transition: all 1000ms ease 0ms;
	z-index: 99;

}
.fidelitytools-push-btn:hover {
	transform: rotate(360deg);
  opacity: 1;

}

@media only screen and (max-width: 600px) {
 	.fidelitytools-push-btn {
		/* font-size: 16px;
		padding: 18px 30px;
		bottom: 20px;
		right: 35px;
     */
     padding: 0px !important;
     width: 25pt !important;
     height: 30pt !important;
     font-size: 74px !important;
     /* background-color: #a8a6a5 !important; */
	}
}
.sm-size-ft {
  width: 30pt !important;
  height: 30pt !important;
  font-size: 74px !important;
  transform:  rotate(45deg) !important;
  background-color: #a8a6a5 !important;
  opacity: 1;

}

