@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fuwiph');
  src:  url('../fonts/icomoon.eot?fuwiph#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fuwiph') format('truetype'),
    url('../fonts/icomoon.woff?fuwiph') format('woff'),
    url('../fonts/icomoon.svg?fuwiph#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\1f5a3";
  color: #507895;
}
.icon-facebook:before {
  content: "\1f464";
  color: #507895;
}
.icon-next:before {
  content: "\1f59d";
  color: #507895;
}
.icon-prev:before {
  content: "\1f59a";
  color: #507895;
}
.icon-twitter:before {
  content: "\1f424";
  color: #507895;
}
